*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/pramod-tiwari-2JMKvS2qT9c-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}


/* navbar section */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:  1.3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::after{
    left: 100%;
}


.logo{
    font-size: 2rem;
    color: #fff;
    user-select: none;
    margin-left: 2rem
}
 
.navbar a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;
}

#check {
    display: none;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    display: none;
}

.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}

.navbar a:hover::after{
    transform-origin: right;
    transform: scaleX(1);
}

.navbar .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-right: 40px;
    transition: .5s;
}

.navbar .btnLogin-popup:hover{
    background-color: #fff;
    color: #161616;
}
/* end of navbar */

/* login and reg form box start */
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    overflow: hidden;
    transform: scale(0);
    transition:transform .5s ease, height .2s ease;
}

/* how the popupo will look when the login button is clicked on */
.wrapper.active-popup{
    transform: scaleX(1);
}

.wrapper.active{
    height: 520px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

/* this won't center the login section */
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

/* for register popup section */
.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

/* for the close button on the form box */
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #161616;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;   
}

.form-box h2{
    font-size: 2em;
    color: #161616;
    text-align: center;
}
/* form box end */

/* variable in the form box */
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #161616;
    margin: 30px 0;
}


.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

/* label lifted when clicked on */
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

/* where user's info will appear */
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

/* icons of input box */
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color:#fff;
    line-height: 57px;
}


/* for remember and forget under the label */
.remember-forget{
    font-size: .9em;
    color: #161616;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input{
    accent-color: #161616;
    margin-right: 3px;
}

.remember-forget a{
    color: #161616;
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background-color: #161616;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.btn:hover{
   background-color: #fff;
   color: #161616;
}

.login-register{
    font-size: .9em;
    color: #161616;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

/* login and register link paragraph */
.login-register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;

}
/* end */

/* breakpoint for navbar */

@media (max-width: 992px) {
    .header{
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons{
    display: inline-flex;
    }

    .logo{
        font-size: 2em;
    }

    #check:checked~.icons #menus-icons {
        display: none;
    }

    .icons #closes-icons {
        display: none;
    }

    #check:checked~.icons #closes-icons {
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block !important;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s *var(--1));
    }
   
}

